:root {
  --primarycolor: #FF0000;
  --secondarycolor: #03C0C1;
  --primarytextcolor: #333;
  --themecolor: #F2B34E;
  /* --themecolor: #FFBF00; */
  --darkgrey: #272727;
  --dark-featured-product: #313131;
  --login-page-color: #FFBF00;
  --okcolor-dark-mode: lightgreen;
  --okcolor-light-mode: green;
}