.wishhead {
    font-family: var(--heading-font);
    text-align: center;
    text-transform: uppercase;
    background-color: var(--themecolor);
    padding: 10px;
    margin: 0 auto;
    border-radius: 12px 12px 0px 0px;
    font-size: 32px;
    color: black;
}

.wishlist {
    width: 80%;
    margin: 20px auto;
    border-radius: 12px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

}

.wish-cart {
    border-radius: 25px;
    width: 100%;
    margin: 0px auto;
}

.wish-items {
    width: 100%;
    padding: 10px;

}

.wish-items img {
    width: 20vh;
    border-radius: 50%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}

.buttons {
    display: inline-flex;
    float: right;
    gap: 30px;
}

.removebtn,
.addbtn {
    float: right;
    padding: 5px;
    position: relative;
    top: 50px;
    color: black;
    border: none;
    border-radius: 12px;

}

.removebtn,
.addbtn i {
    font-size: 20px;


}

.removebtn,
.addbtn span {
    font-family: var(--body-font);
    font-size: 18px;
}

.removebtn:hover,
.addbtn:hover {
    background-color: var(--secondarycolor);
    color: black;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

form h2 {
    font-family: var(--body-font);
    font-weight: 400;
    font-size: 16px;
    text-align: justify;

}